node_modules/
dist/
out/
release/
.DS_Store
.idea/
.vscode/
*.log

android/.gradle/
android/local.properties
android/**/build/
android/captures/

mods/*/build/
mods/*/node_modules/
!mods/README.md
!mods/templates/
!mods/templates/**
